@{
    ViewBag.Title = "Alien Age Calulator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SSGeek.Models;
@model SSGeek.Models.AlienAgeModel

<h2 style="text-align: center; color: red; margin: 0 auto; padding-bottom: 20px;">Alien Age Calculator</h2>

@using (Html.BeginForm("AlienAgeResult", "Calculators", FormMethod.Get))
{
  
    <div class="formInputGroup">
        @Html.Label("Planets", "Choose a Planet")
        @Html.DropDownListFor(m => m.PlanetList, AlienAgeModel.Planets)
    </div>
    <div class="formInputGroup">
        @Html.Label("Planets", "Enter your Earth Age ")
        @Html.TextBoxFor(m => m.EarthAge)
    </div>


    <button class="formSubmitButton">CALCULATE!</button>

}

