@{
    ViewBag.Title = "Alien Weight Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SSGeek.Models;
@model SSGeek.Models.AlienAgeModel

<h2 style="color: red; margin: 0 auto; padding-bottom: 20px; text-align:center;">Alien Age Result</h2>

<section>

    <img style="width: 200px;" src="~/Content/img/@(Model.PlanetList.ToLower()).jpg" />
    <p style="color: red;">
        If you are <strong>@Model.EarthWeight.ToString()</strong> lbs on planet Earth, then you
        are <strong>@Model.CalculateWeight().ToString("0.00")</strong> lbs on <strong>@Model.PlanetList</strong>.
    </p>

    <p style="color: red; font-weight: bold;">@Html.ActionLink("Calculate Another", "AlienWeight", "Calculators")</p>

</section>