
@{
    ViewBag.Title = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preferences</h2>
<section>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {

        <div>
            @Html.CheckBox("celsius", false) Would you like to view the temperature in Celsius?
        </div>
        <br />
        <button>Submit</button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
     
    }

</section>
<section></section>
