
@{
    ViewBag.Title = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preferences</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    
    <div>
        @Html.CheckBox("celsius", false) Would you like to view the temperature in Celsius?
    </div>

    <button>Submit</button>
}

